* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "sans-serif", "Shrikhand";
}

/*POUR TABLETTE*/

@media screen and (min-width: 768px) {
}

/*FIN DES TABLETTES*/

/*POUR PC*/

@media (min-width: 992px) {
}

/*FIN DU PC*/
